@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

body {
    width: 100vw;
    height: 100vh;
    min-width: 545px;
    /* background: linear-gradient(
        20deg,
        #8395FF,
        rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(150deg, rgba(247, 255, 92, 0.3), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(330deg, #FF5FFF, rgba(0, 0, 255, 0) 70.71%); */
    }
h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    background: linear-gradient(
        20deg,
        #8395FF,
        rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(150deg, rgba(247, 255, 92, 0.3), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(330deg, #FF5FFF, rgba(0, 0, 255, 0) 70.71%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; /* 텍스트 자체는 투명하게 */
}
    
.wrapper {
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s ease-in;
}

.container {
	position: relative;
	z-index: 0;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    height: 50px;
	overflow: hidden;
}

.pulse {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 30rem;
}	

.start-container {
    width: 100px;
    height: 40px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.3);
    font-size: 10px;
    color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 1s ease-in;
}
.start-container:hover {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.start-text {
    font-size: 14px;
}
.fa-arrow-right {
    color: #a0a5bc;
}


circle {
    fill:  #e9f1d4;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 1.5s cubic-bezier(.5,.5,0,1);
}
circle:nth-child(2) {
    fill: #d1ffe0;
    animation: pulse 1.5s 0.75s cubic-bezier(.5,.5,0,1);
}

circle:nth-child(3) {
    fill: #fcd6aa;
    animation: pulse 1.5s 1.5s cubic-bezier(.5,.5,0,1);
}
    


@keyframes pulse {
	25% {
		opacity: 0.4;
	}
	100% {
		transform: scale(1);
	}
	
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}