
.project-img {
    width: 100%;
    height: 600px;
    background-image: url('../images/project03-1.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.project-img:nth-child(2) {
    width: 100%;
    height: 500px;
    background-image: url('../images/project03-2.png');
}

.project-img:nth-child(3) {
    width: 100%;
    height: 500px;
    background-image: url('../images/project03-3.png');
    background-position: center;
    background-size: cover;
}

.project-img:nth-child(4) {
    width: 100%;
    height: 490px;
    background-image: url('../images/project03-4.png');
    background-position: center;
    background-size: cover;
}

.project-img:nth-child(5) {
    width: 100%;
    height: 490px;
    background-image: url('../images/project03-5.png');
    background-position: center;
    background-size: cover;
}

.project-img:nth-child(6) {
    width: 100%;
    height: 370px;
    background-image: url('../images/project03-6.png');
    background-position: center;
    background-size: cover;
}

