@import url("https://fonts.googleapis.com/css2?family=Basic&family=Poppins&display=swap");

body {
  width: 100vw;
  height: 100vh;
  min-width: 545px;
  font-family: Poppins;
  display: grid;
}

.gallery {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  scale: 1.6;
  /* place-items: center; */
}

.card {
  position: relative;
  left: 0px;
  width: 180px;
  height: 220px;
  background-color: var(--background);
  border-radius: 8px;
  transition: 1000ms all;
  transform-origin: center left;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background);
  overflow: hidden;
}

.card img {
  height: 220px;
  object-fit: cover;
  border-radius: 4px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.card:hover figcaption {
  font-size: 0.6rem;
  position: absolute;
  height: 80px;
  width: 180px;
  display: flex;
  align-items: end;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  left: 0px;
  bottom: 0px;
  padding-left: 12px;
  padding-bottom: 10px;
}

.card:hover ~ .card {
  font-weight: bold;
  cursor: pointer;
  transform: translateX(22px);
}
